@import "../../utils/variables.module";

.DropDown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.DropDown_list {
  background-color: $font_color;
  border: 2px solid #fff;
  border-radius: 1rem;
  z-index: 10;
}

.DropDown_item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding: 0.6rem 2rem 0.6rem 2rem;
  font-size: 1.2rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  &:hover {
    color: $active_color;
    font-size: 1.3rem;
    font-family: 500;
  }
}

.DropDown_item_active {
  background: none;
  color: $font_color;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 200ms ease-in-out;
  &:hover {
    border-color: rgba(255, 255, 255, 1);
  }
}
