@import "../../../../utils/variables.module";

.BTN_showmore {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: #fff;
  background: #000;
}
